
.event-container{
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    padding: 20px;
}

.event{
    position: relative;
    width: 200px;
    height: 150px;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}