

#link{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
}

#link > img{
    max-width: 50%;
}